@import '../nudges.scss';

#indistractable-extension {
  & .display {
    width: 100vw;
    height: 40px;
    padding: 5px 0 5px 0;
    background-color: white;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 6%), 0 2px 32px 0 rgba(0, 0, 0, 6%);

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 99999999999;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    animation-name: moveInRight;
    animation-duration: .4s;
    animation-timing-function: ease-out;

    &__description {
      line-height: 1;
      padding: 0;
      margin: 0;
      text-align: center;
    }

    &__button {
      font-family: Lato, sans-serif;
      font-size: 14px !important;
      line-height: 10px !important;

      width: 90px;
      height: 27px;
      margin-left: 20px;
      margin-right: 20px;
      padding: 8px;
      border: 1px solid rgb(214, 214, 214);
      background-color: white;
    }

    &__retract-button {
      font-family: Lato, sans-serif;
      font-size: 14px !important;
      line-height: 10px !important;

      width: 40px;
      height: 40px;
      border: 0px;
      background-color: white;

      position: absolute;
      right: 0px;

      &:hover {
        cursor: pointer;
        background-color: lightgrey;
      }
    }

    &--retracted {
      animation-name: moveOutLeft;
      animation-duration: .4s;
      animation-timing-function: ease-out;

      transform: translateX(-95%);
    }
  }
}

@keyframes moveOutLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-95%);
  }
}

@keyframes moveInRight {
  0% {
    transform: translateX(-95%);
  }

  100% {
    transform: translateX(0);
  }
}
