@import '../nudges.scss';

#indistractable-extension {
  & .background {
    width: 100vw;
    height: 100vh;
    background-color: white;

    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    z-index: 99998;
  }

  & .prompt {
    box-sizing: border-box !important;

    width: 480px;
    padding: 20px;
    padding-top: 15px;

    position: fixed;
    left: 50vw;
    top: 45vh;
    transform: translate(-50%, -50%);
    z-index: 99999;
  }

  & .form {
    height: 100%;

    &__label {
      display: block;

      margin-left: 7px;

      font-family: "Lato", sans-serif;
      font-size: 22px;
      text-align: left;
    }

    &__input-container {
      margin: 10px 0 0 0;

      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__input {
      box-sizing: border-box !important;

      height: 60px;
      width: 360px;
      padding: 0;
      padding-left: 15px;
      margin: 0;
      margin-right: 15px;

      border-radius: 9px;
      border: 2px solid rgb(235, 235, 235);
      box-shadow: -4px 8px 26px rgba(184, 184, 184, 0.2);

      font-size: 22px;
    }

    &__input:focus {
      outline: none;
    }

    &__button {
      width: 60px;
      height: 60px;
      margin: 0;

      border-radius: 9px;
      border: 2px solid rgb(235, 235, 235);
      box-shadow: 4px 8px 24px rgba(184, 184, 184, 0.2);

      background-color: white;
      cursor: pointer;

      position: relative;
      &__icon {
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);

        fill: rgb(95, 95, 95);
      }
    }
  }
}
