#undistractable-extension {

  & .display {
    box-sizing: border-box !important;
    width: 100vw;
    height: 40px;
    padding: 5px 0 5px 0;
    background-color: white;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 6%), 0 2px 32px 0 rgba(0, 0, 0, 6%);

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999999999999;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-family: Lato, sans-serif;
    font-size: 14px !important;
    line-height: 1.6;
    overflow-wrap: normal;

    &__description {
      line-height: 1;
      padding: 0;
      margin: 0;
      text-align: center;
    }

    &__button {
      font-family: Lato, sans-serif;
      font-size: 14px !important;
      line-height: 10px !important;

      width: 90px;
      height: 27px;
      margin-left: 20px;
      margin-right: 20px;
      padding: 8px;
      border: 1px solid rgb(214, 214, 214);
      background-color: white;
    }
  }
}
